/* globals.css */
@import "tailwindcss";

:root { --bg: #f2f2f2; --fg: #0a0a0a; }
html.dark { --bg: #0b1220; --fg: #e5e7eb; }

body {
  /* background: var(--bg);
  color: var(--fg); */
  font-size: 13px;
}

html { scroll-behavior: smooth; }